{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'ardep_flight_list' %}">Flight Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>direction</td><td>{{ object.direction }}</td></tr>
<tr><td>status</td><td>{{ object.status }}</td></tr>
<tr><td>info</td><td>{{ object.info }}</td></tr>
<tr><td>carrier</td><td>{{ object.carrier }}</td></tr>
<tr><td>flight</td><td>{{ object.flight }}</td></tr>
<tr><td>gate</td><td>{{ object.gate }}</td></tr>
<tr><td>visible</td><td>{{ object.visible }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Flight</a>

{% endblock %}