{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'ardep_flight_list' %}">Flight Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>created</td>
    <td>last_updated</td>
    <td>direction</td>
    <td>status</td>
    <td>info</td>
    <td>carrier</td>
    <td>flight</td>
    <td>gate</td>
    <td>visible</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.direction }}</td>
    <td>{{ object.status }}</td>
    <td>{{ object.info }}</td>
    <td>{{ object.carrier }}</td>
    <td>{{ object.flight }}</td>
    <td>{{ object.gate }}</td>
    <td>{{ object.visible }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'ardep_flight_create' %}">Create new Flight</a>
{% endblock %}